$on-palm: 600px !default;
$on-laptop: 800px !default;
// typography
@font-face {
    font-family: "Fira Code";
    src: url("https://cdn.jsdelivr.net/npm/firacode@1.205.0/distr/woff2/FiraCode-Regular.woff2") format("woff2"), url("https://cdn.jsdelivr.net/npm/firacode@1.205.0/distr/woff/FiraCode-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Fira Code";
    src: url("https://cdn.jsdelivr.net/npm/firacode@1.205.0/distr/woff2/FiraCode-Bold.woff2") format("woff2"), url("https://cdn.jsdelivr.net/npm/firacode@1.205.0/distr/woff/FiraCode-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

$fontFamily: "Fira Code",
monospace;
$font__size: 14px;
$font__weight: 400;
$font__line-height: 1.5;
// colors
$color__text: #c9cacc;
$color__background: #212121;
$color__yellow: #fcc21b;
@mixin media-query($device) {
    @media screen and (min-width: $device) {
        @content;
    }
}

// elements
* {
    box-sizing: border-box;
}

::selection {
    background: $color__yellow;
}

::-moz-selection {
    background: $color__yellow;
}

hr {
    color: $color__text;
    background-color: $color__text;
}

a {
    // display: block;
    // width: 100%;
    // height: 100%;
    color: $color__yellow;
    text-decoration: none;
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: 100% 6px;
    background-image: linear-gradient(transparent, transparent 5px, $color__text 5px, $color__text);
    &:hover {
        background-image: linear-gradient(transparent, transparent 5px, $color__yellow 5px, $color__yellow);
    }
}

// layout
html {
    overflow-x: hidden;
    overflow-y: scroll;
}

body {
    width: 100%;
    margin: 25px 0;
    padding: 0;
    background: $color__background;
    font-family: $fontFamily;
    font-size: $font__size;
    font-weight: $font__weight;
    line-height: $font__line-height;
}

.container {
    max-width: 1200px;
    margin: 0 25px;
}

// media queries
@include media-query($on-palm) {
    body {
        margin: 50px 0 25px;
    }
    .container {
        margin: 0 50px;
    }
}

@include media-query($on-laptop) {
    body {
        margin: 120px 0 50px;
    }
    .container {
        margin: 0 120px;
    }
}