.bio {
    max-width: 500px;
    margin-bottom: 50px;
    color: $color__text;
}

.bio__header {
    margin-bottom: 20px;
    font-weight: 700;
    text-transform: uppercase;
    a {
        text-decoration: none;
        background: none;
        &:hover {
            text-decoration: none;
        }
    }
}

.bio__social {
    margin: 0;
    margin-top: 10px;
    padding: 0;
    list-style: none;
    & li {
        display: inline-block;
    }
}