.post__meta {
    margin: 30px 0 20px;
    border-bottom: 1px solid $color__yellow;
    overflow: hidden;
    font-weight: 700;
}

.post__paginate {
    overflow: hidden;
    & a {
        text-decoration: underline solid $color__text;
        -webkit-text-underline-position: under;
        -ms-text-underline-position: below;
        text-underline-position: under;
        background: none;
        &:hover {
            text-decoration-color: $color__yellow;
        }
    }
}

$paginate-padding: 13px;
.post__paginate-left,
.post__paginate-right {
    position: relative;
    display: block;
    width: 50%;
}

.post__paginate-left {
    padding-left: $paginate-padding;
    float: left;
    &:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "\21FD";
    }
}

.post__paginate-right {
    padding-right: $paginate-padding;
    text-align: right;
    float: right;
    &:after {
        position: absolute;
        top: 0;
        right: 0;
        content: "\21FE";
    }
}

.post__title {
    @extend .row__title;
}

.post__date {
    @extend .row__date;
}

.post__cat {
    @extend .row__cat;
}

.post__body {
    color: $color__text;
    padding-bottom: 20px;
    border-bottom: 1px solid $color__yellow;
    pre {
        background: $color__yellow;
        padding: 10px 20px;
    }
    code {
        background: $color__yellow;
        font-size: 12px;
    }
    img {
        max-width: 100%;
    }
}

// media queries
@include media-query($on-laptop) {
    .post {
        min-width: 500px;
        width: 50%;
    }
}